<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>
 
<p>
  <strong>Base Image:</strong>
  <%= @image.base_image %>
</p>

<p>
  <strong>Created:</strong>
  <%= @image.date_added %>
</p>

<%= link_to 'Back', images_path %>
