 <footer class="page-footer blue lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated. </p>

                <p class="grey-text text-lighten-4">DONATE NOW</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/servers">Servers</a></li>
                  <li><a class="grey-text text-lighten-3" href="/images">Images</a></li>
                  <li><a class="grey-text text-lighten-3" href="/images">Containers</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Pier96
            </div>
          </div>
        </footer>