<li><div class="logo"></div></li>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Servers', servers_path %></li>
<li><%= link_to 'Containers', servers_path %></li>
<li><%= link_to 'Images', servers_path %></li>
